.password-requirements {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 110%;
  width: 300px;
  background-color: #ffffff;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .2s;

  &__title {
    color: #2c3e50;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .requirement {
    font-size: 0.7rem;
    color: #808080;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}