.leaflet-container {
  height: 100vh;
}

.leaflet-top.leaflet-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.leaflet-container a {
  color: #000;
}

.services__map-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}