.comment-wrap {
  padding: 0 30px;
  user-select: text;

  .comment {
    border: 1px solid #2c3e50;
    border-radius: 5px;
    min-height: 350px;
    max-height: 350px;

    &__header-home {
      padding: 20px 20px 15px 20px;
      margin-bottom: 15px;
      min-height: 67px;
      max-height: 67px;
      border-bottom: 2px dashed #2c3e50;

      .service-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &-link {
          font-size: 1rem;
          color: #2c3e50;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .location-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .comment__body {
      padding: 0 20px;
      position: relative;
      color: #000;

      .comment-text-wrap {
        min-height: 180px;
        max-height: 180px;
        margin-top: 10px;
      }

      .comment-text {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        font-size: 0.9rem;
        overflow: hidden;
      }

      .comment-from {
        display: flex;
        font-size: 0.8rem;

        .user-ns {
          font-weight: 600;
        }

        .comment-date {
          margin-left: 7px;
          color: #808080;
        }
      }
    }
  }
}
