.password-field {
  padding-right: 8%;

  &:first-child {
    margin-top: 10%;
  }

  i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1rem;
    color: #808080;
    cursor: pointer;
    transform: translateY(-50%);
  }
}