.text-field {
  position: relative;

  .input {
    width: 100%;
    font-size: 1.2rem;
  }

  &:not(:first-child) {
    margin-top: 10%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1dd2af;
    transition: .2s;
  }

  &.focused::before {
    transform: scale(1.05, 1.7);
  }

  .error{
    position: absolute;
    top: 120%;
    left: 0;
    font-size: 0.9rem;
    color: #ff0000;
  }
}