.deleting-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item-wrapper {
  position: relative;
}

.icon-delete {
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: red;
  }
}