.page404{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  color: #fff;

  &__title, &__subtitle{
    font-size: 4rem;
    font-weight: 400;
  }

  .btn-go-back{
    margin-top: 3%;
    padding: 20px 40px;
    font-size: 1.5rem;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      box-shadow: 0 0 10px 1px #fff;
    }
  }
}