.comment__form-rating {
  display: flex;
  justify-content: flex-end;
}

.comments-items {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px dotted #2c3e50;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eeeded;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px dotted #2c3e50;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__date {
    font-size: 12px;
    font-weight: bold;
  }
}