body {
  font-family: 'Roboto', sans-serif;
}

.app {
  position: relative;
}

.container {
  padding: 0 10%;
}

.pages {
  position: relative;
  min-height: 65vh;
  z-index: 10;
}

.btn {
  border-radius: 5px;
  background-color: transparent;
  transition: .2s;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 1%;
  }
}

@media (min-width: 1921px) {
  html {
    font-size: 30px;
  }
}